<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Nacional 9 de Julio</title>

    <link rel="stylesheet" href="../styles/styleGeneral.css">
    <link rel="stylesheet" href="../styles/styleMenu.css">
    <link rel="stylesheet" href="../styles/styleFooter.css">
    <link rel="stylesheet" href="../styles/styleAlquileres.css">
    <link rel="icon" href="https://www.svgrepo.com/show/41197/book.svg">
</head>
<body>
    <header id="header">
    </header>

    <main id="main">

    </main>

    <!-- <footer id="Contacto">
    </footer> -->
    
</body>
<script type="module" src="../apps/serviceAlquileres.js"></script>
</html>