<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Nacional 9 de Julio</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script type="module" src="../apps/serviceIndex.js"></script>
</head>
<body>
    <header id="header">
        <nav class="menu">
            <ul>
                <li id="Logo">Biblioteca Nacional 9 de Julio</li>
                <li> <a href="#">Home</a></li>
                <li><a href="./Listado.html">Libros</a></li>
                <li><a href="./usuario.html?Alquileres">Alquileres</a></li>
                <li><a href="./usuario.html?Reservas">Reservas</a></li>
                <li> <a href="./quienes_somos.html">Quienes Somos</a></li>
    
                <div class="search">
                        <input type="text"
                            placeholder="  Busqueda"
                            id = "BuscarInput"
                            name="search">
                        <button id="searchButton">
                        </button>
                </div>
    
            </ul>
        </nav> 
    </header>

    <main>
        <div class="slider">

            <div class="imagen">
                <h2>Biblioteca Nacional 9 de Julio</h2>
            </div>
        </div>
    </main>

    <footer id="Contacto">
        <h2>Contacto</h2><br>
            <a style="text-decoration: none; color: white;"   target="_blank" href="mailto:rodrigo.persoglia@gmail.com?Subject=Mensaje desde el sitio Web"> <img   style="width: auto; height: 20px;" src="https://www.svgrepo.com/show/353812/google-gmail.svg" alt="" margin-left="1rem">   Comunicate por e-mail</a> <br><br>
            <a style="text-decoration: none; color: white ;"  target="_blank" href="https://api.whatsapp.com/send?phone=+5491141709324&text=Mensaje desde el sitio Web"> <img  style="width: auto; height: 20px;" src="https://www.svgrepo.com/show/28155/whatsapp.svg" alt="">   Comunicate por Whatsapp</a> <br><br>
            <a style="text-decoration: none; color: white;"  target="_blank" href="#"> <img   style="width: auto; height: 20px; background-color: white;" src="https://www.svgrepo.com/show/157818/facebook.svg" alt="" >   Seguinos en Facebook</a> <br><br>
            <a style="text-decoration: none; color: white;"  target="_blank" href="#"> <img   style="width: auto; height: 20px; background-color: white; border-radius: 6.5px;" src="https://www.svgrepo.com/show/303154/instagram-2016-logo.svg" alt="">   Seguinos en Instagram</a> <br><br>
    </footer>
    
</body>
</html>