<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Municipal 9 de Julio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/120cdd133c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/styleGeneral.css">
    <link rel="stylesheet" href="../styles/styleFooter.css">
    <link rel="stylesheet" href="../styles/styleLibro.css">
    <link rel="icon" href="https://www.svgrepo.com/show/41197/book.svg">
    <script type="module" src="../apps/serviceLibro.js"></script>
    <link rel="stylesheet" href="../styles/styleModal.css">
    <link rel="stylesheet" href="../styles/styleMenu.css">




</head>
<body>
    <header id="header">
    </header>

    <main>
        <section id="main" >
        </section>
        <div class="formulario">
            <label for="dni">Ingrese su dni</label>
            <input type="number" name="dni" id="dni" placeholder="Escriba su DNI" value="34813823">
            <button type="button" id="reservar" data-bs-toggle="modal" data-bs-target="#exampleModal">Reservar</button>
            <button type="button" id="alquilar" data-bs-toggle="modal" data-bs-target="#exampleModal"> Alquilar</button>
            <section id="relacionados"> 
            </section>
        </div>

        <div id="modalCustom">
            <div class="modal" tabindex="-1" id="exampleModal">
                <div class="modal-dialog" >
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Biblioteca Municipal 9 de Julio</h4>
                    </div>
                    <div class="modal-body">
                      <p id="mensaje"></p>
                    </div>
                    <div class="modal-footer" id ="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="window.location.reload();">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>





    </main>

    <footer id="Contacto">
    </footer>
    
</body>

</html>