<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
</head>
<body>
    <a href="">hola</a>
    <!-- <article class="Libro">
            <div class="PortadaLibro" 
            >
            </div>
        <div class=" DescripcionLibro">
            <h2><a href="http://www.google.com.ar">titulo</a></h2>
            <h2>autor</h2>
            <P><span>ISBN: </span>N° isbn</P>
            <P><span>EDITORIAL: </span>editorial</P>
            <P><span>EDISION: </span>edision</P>
            <P><span>STOCK: </span>stock</P>
        </div>
    </article> -->
</body>
</html>