<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../styles/main.css"/>
    <script type="module" src="../apps/service.js"></script>
</head>
<body>
    <header >
        <h1>Listado de libros</h1>
    </header>
    <main>
        <input class = "buscadores"  type="text" id="buscarText" placeholder="Libro">
        <button id="buscarButton">Buscar</button>
        <br><p id="busquedaAvanzada">Busqueda avanzada &#8595</p><br>
        <input class = "buscadores" type="text" id="buscarAutor" placeholder="Autor"><br>
        <input class = "buscadores" type="number" name="Stock" value="0" id="buscarStock">
        <article>
            <section id="Productos">
            </section>
        </article>

    </main>
    <footer>

    </footer>
</body>
</html>