<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../styles/main.css"/>
    <script type="module" src="../apps/service.js"></script>
</head>
<body>
    <header>

    
 
</header>
<header>
    <nav class="menu">
        <ul>
            <li id="Logo">Biblioteca Nacional 9 de Julio</li>
            <li> <a href="./index.html">Home</a></li>
            <li><a href="./Listado.html">Libros</a></li>
            <li><a href="./Users.html">Alquileres</a></li>
            <li><a href="./Users.html">Reservas</a></li>
            <li> <a href="./QuienesSomos.html">Quienes Somos</a></li>
            <div class="search">
                <form action="#">
                    <input type="text"
                        placeholder="  Busqueda"
                        name="search">
                    <button>
                        <a href="./Listado.html"></a>
                    </button>
                </form>
            </div>

        </ul>
    </nav> 
</header>

    <main>
        <h2>LISTADO DE LIBROS</h2>
        <input class = "buscadores"  type="text" id="buscarText" placeholder="Libro">
        <button id="buscarButton">Buscar</button>
        <br><p id="busquedaAvanzada">Busqueda avanzada &#8595</p><br>
        <input class = "buscadores" type="text" id="buscarAutor" placeholder="Autor"><br>
        <input class = "buscadores" type="number" name="Stock" value="0" id="buscarStock">
        <article>
            <section id="Productos">
            </section>
        </article>
        <a href="libro.html"></a>

    </main>

    <footer>

    </footer>
</body>
</html>