<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Municipal 9 de Julio</title>

    <link rel="stylesheet" href="../styles/styleGeneral.css">
    <link rel="stylesheet" href="../styles/styleMenu.css">
    <link rel="stylesheet" href="../styles/styleFooter.css">
    <link rel="stylesheet" href="../styles/styleReservas.css">
    <link rel="icon" href="https://www.svgrepo.com/show/41197/book.svg">
    <script type="module" src="../apps/serviceReservas.js"></script>
</head>
<body>
    <header id="header">
        
    </header>
    
    <main>
        <h2 id="titulo">LISTADO DE RESERVAS</h2>
        <input class = "buscadores" type="number" name="dni" id="dni" placeholder="ingrese su dni">
        <button type="button"  id="buscarReservas">Buscar Reservas</button>
        <section id="main">
        </section>

    </main>
    <footer id="Contacto">
        
    </footer>

</body>

</html>