     /* *****Header y Menu***** */
     header{
        color: black;
        position: fixed;
        width: 100%;
        top:0;
        left: 0;  
        color: whitesmoke;
        background-color:#393939;
        font-size: 14px;
    }
    
    .MiMenu{
        display: flex;
        justify-content: start;
        height: 4rem;
    }

    .MiMenu ul li{
        text-decoration: none;
        display: inline-block;
    }
    .MiMenu ul a{
        text-decoration: none;
        display: block;
        padding: 1.3rem 1rem;
        color: whitesmoke;

    }
    
    .MiMenu ul a:hover{
        color: #8AB4F8;
        transition: background-color 0.3s 0s linear;
    }

    .search{
        float:right;
        margin-top:17px;
        background-color: white;
        border-radius:15px;
        border: 0.5px solid grey;
        margin-left: 100px;
    }
    
    #Logo{
        float:left;
        padding-left: 30px;
        padding-right: 60px;
        margin-top:20px;
    }

    .search input[type=text]
    {
        width:300px;
        height:25px;
        border-radius:15px;
        border: 0.5px solid grey;
        border: none;
    }
    
    #searchButton{
        background-color: white;
        border-radius:15px;
        float: right;
        border: none;
        cursor: pointer;
        background-image: url("https://www.svgrepo.com/show/418976/detective-loupe-magnifying-glass.svg");
        background-repeat: no-repeat;
        background-size:100%;
        width: 25px;
        height: 25px;
        padding-right: 25px;
        margin-right: 5px;
    } 

    #BuscarInput{
        padding-left: 1rem;
    }

