

.Libro{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: whitesmoke;
    margin-bottom: 1rem;
    margin-top: 1rem;
   
}
.PortadaLibro{
    background-size: cover;
    width: 300px;
    height: 400px;
    border-radius: 5%;
}
.DescripcionLibro{
    width: auto;
    height: 400px;
    margin-right: 3rem;

}
.DescripcionLibro span{
color: #8AB4F8;

}

.DescripcionLibro p{
    color: gray;
    margin-top: 1.5rem;
}

.DescripcionLibro h2{
margin-left: 0%;
font-size: 2rem;
margin-bottom: 1rem;
}
.DescripcionLibro button{
margin-top: 1.5rem;
width: 80px;
height: 30px;
}

#busquedaAvanzada:hover{
    text-decoration: underline;
    cursor:pointer;

}
#busquedaAvanzada{
display: inline-block;
height: 20px;
padding: 0;
margin-top: 0px;
margin-bottom: 8px;
}

#reservar:hover , #alquilar:hover{
cursor: pointer;
border: 1px solid black;
border-radius: 2px;
background-color: rgb(194, 194, 194);
}


main{
    display: flex;
    justify-content: space-evenly;
    min-height: 100vh;
}            

.formulario{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.formulario{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.formulario >button,.formulario >input{
    width: 200px;
    height: 30px;
    margin: 0.5rem;
}

.formulario >input{
    width: 200px;
    height: 30px;
    margin: 0.5rem;
    margin-top: 0px;
}

label{
    width: 200px;
    height: 30px;
    margin-left: 0.5rem;


}

a{
    text-decoration: none;
    color: whitesmoke;
}